<!DOCTYPE html>
<html>{% load staticfiles %}
<head>
 <title>ORE</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
 <!-- Navbar  -->
 <section>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
   <a class="navbar-brand" href="#">ORE</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item">
      <a class="nav-link" href="{% url 'home'%}">{{user.username}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">PROFILE</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link" href="JavaScript:{document.getElementById('logout').submit()}">LOGOUT</a>
      <form id='logout'  method="post" action="{% url 'logout' %}">
       {% csrf_token %}
       <input type="hidden" />
     </form>
   </li>
 </ul>
</div>
</nav>
</section>
<!-- Navbar End -->
<!-- Text section -->
<h2 class="text-center text-primary mt-5 mb-5">Your Profile</h2>
<!-- Text section end -->
<!-- Main section -->

<section>
 <div class="bg-dark">
  <div class="container w-50 mx-auto mt-5 text-white">
   {%for ml in R_model.all %}
   {% if ml.rtlrid == user.username %}
   <form method="post" enctype="multipart/form-data"  action="{% url 'filled' %}">
     {% csrf_token %}
     <div class="form-group pt-5">
       <label class="text-primary">Username:</label><br>
       <label >{{ml.rtlrname}}</label>
     </div>

     <div class="form-group ">
       <label class="text-primary">Shopname:</label><br>
       <label>{{ml.rtlrshopname}}</label>
     </div>

     <div class="form-group">
       <label class="text-primary">Userid:</label><br>
       <label>{{ml.rtlrid}}</label>
     </div>

     <div class="form-group">
       <label class="text-primary">Password:</label><br>
       <label>{{ml.rtlrpassword}}</label>
     </div>

     <div class="form-group">
       <label class="text-primary">Email:</label><br>
       <label>{{ml.rtlruseremail}}</label>
     </div>


     <div class="form-group">
       <label class="text-primary">Phone-no:</label><br>
       <label>{{ml.rtlrshopno}}</label>
     </div>


     <div class="form-group">
       <label  class="text-primary">Colony:</label><br>
       <label >{{ml.rtlrpcolony}}</label>
     </div>

     <div class="form-group">
       <label class="text-primary">City:</label><br>
       <label >{{ml.rtlrshopcity}}</label>
     </div>

     <div class="form-group">
       <label class="text-primary">District:</label><br>
       <label>{{ml.rtlrdistrict}}</label>
     </div>

     <div class="form-group">
       <label class="text-primary">State:</label><br>
       <label>{{ml.rtlrstate}}</label>
     </div>

     <div class="form-group">
       <label  class="text-primary">Pin number:</label><br>
       <label >{{ml.rtlrpincode}}</label>
     </div>

     <div class="form-group">
       <label class="text-primary">Full address:</label><br>
       <label>{{ml.rtlrshopaddress}}</label>
     </div>
     <input type="hidden" name="fusernane" placeholder="{{ml.rtlrname}}" value="{{ml.rtlrname}}">
     <input type="hidden" name="shopname" placeholder="{{ml.rtlrshopname}}" value="{{ml.rtlrshopname}}">
     <input type="hidden" name="fstate" placeholder="{{ml.rtlrstate}}" value="{{ml.rtlrstate}}">
     <input type="hidden" name="fdistrict" placeholder="{{ml.rtlrdistrict}}" value="{{ml.rtlrdistrict}}">
     <input type="hidden" name="fcolony" placeholder="{{ml.rtlrpcolony}}" value="{{ml.rtlrpcolony}}">
     <input type="hidden" name="fpincode" placeholder="{{ml.rtlrpincode}}" value="{{ml.rtlrpincode}}">
     <input type="hidden" name="fusernameid" placeholder="{{ml.rtlrid}}" value="{{ml.rtlrid}}">
     <input type="hidden" name="fmob" placeholder="{{ml.rtlrshopno}}" value="{{ml.rtlrshopno}}">
     <input type="hidden" name="fcity" placeholder="{{ml.rtlrshopcity}}" value="{{ml.rtlrshopcity}}">
     <input type="hidden" name="fshopadd" placeholder="{{ml.rtlrshopaddress}}" value="{{ml.rtlrshopaddress}}">
     <input type="hidden" name="x" value="a">
     <button type="submit" class="btn btn-primary mb-5">NEXT</button>
   </form>
   {% endif %}
   {% endfor %}
 </div>
</div>
</section>
<!-- Main section end -->
<!-- Last section -->
<footer class="container py-5">
 <div class="row">
  <div class="col-6 col-md">
   <h5>About</h5>
   <ul class="list-unstyled text-small">
    <li>Team</li>
       <p class="text-secondary">We are three member in our team LAKSHYA KUMAR as a server side programmer, KARUN YADAV as
           a designer of this web application and ASHWANI KUMAR as a backend programmer.</p>
    <li>Locations</li>
       <p class="text-secondary">Galgotia's University, Greater Noida.</p>
    <li>Privacy</li>
        <p class="text-secondary">We understand this is a big responsibility and work hard to protect your information and put you in control.</p>
    <li>Terms</li>
       <p class="text-secondary">Thanks for using our service. The Services are provided by ONLINE REPAIRING ENVIRONMENT. You are agreeing to these terms. Please read them carefully.<a href="{% url 'tservice' %}"> Read more</a></p>
  </ul>

</div>
</div>
<p class="text-white text-center bg-dark">  © 2019-2020  Online Repairing Environment.</p>
</footer>
<!-- Last section end -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>