  <!DOCTYPE html>
 <html>{% load staticfiles %}
 <head>
        <title>ORE</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

 </head>
 <body>

   <!-- Navbar  -->
   <section>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
     <a class="navbar-brand" href="#">ORE</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
       <li class="nav-item">
        <a class="nav-link active" href="{% url 'login' %}">SIGN-IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'verify' %}">SIGN-UP</a>
      </li>
    </ul>
  </div>
</nav>
</section>
<!-- Navbar End -->
        <!-- sign up customer -->
        <h2 class="text-center text-primary mt-5 ">SIGN UP</h2>
                <div class="bg-dark">
                <div class="container w-50 mx-auto text-white">
                        <form method="post" action="{% url 'retailer_signin' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h2 class="text-center text-danger mt-5 ">{{ error }}</h2>
                                <div class="form-group">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" name='Name' autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label>Shopname:</label>
                                        <input type="text" class="form-control" name='shopname' autocomplete="off" required>
                                </div>

                                <div class="form-group ">
                                        <label>Username:</label>
                                        <input type="text" class="form-control" name='username' autocomplete="off" required>
                                </div>

                                <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" class="form-control" name='password1'  autocomplete="off"
                                         required>
                                </div>


                                <div class="form-group">
                                        <label>Confirm-Password:</label>
                                        <input type="password" class="form-control"  name='password2' autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label>Email:</label>
                                        <input type="email" class="form-control"  name='email2'  autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label>Phone Number:</label>
                                        <input type="number" class="form-control" name='shopphno' autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label>State:</label>
                                        <input type="text" class="form-control"  name='state' autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label>District</label>
                                        <input type="text" class="form-control" name='district' autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label>City</label>
                                        <input type="text" class="form-control"  name='city'  autocomplete="off"
                                         required>
                               </div>

                                <div class="form-group ">
                                        <label>Colony/Village</label>
                                        <input type="text" class="form-control" name='colony' autocomplete="off"
                                         required>
                                </div>


                                <div class="form-group ">
                                        <label>Pin Number</label>
                                        <input type="text" class="form-control" name='pinno'  autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label >Full Address</label>
                                        <input type="text" class="form-control" name='shopaddress' autocomplete="off"
                                         required>
                                </div>

                                <div class="form-group ">
                                        <label>Shop Photos</label><br>
                                        <input type="file" name='shopprofilephoto' autocomplete="off"
                                         required>
                                </div>
                                <button type="submit" class="btn btn-primary mb-5">Sign In</button>
                        </form>
                </div>
            </div>
        </div>

        <!-- sign up customer end -->
<!-- Last section -->
<footer class="container py-5">
 <div class="row">
  <div class="col-6 col-md">
   <h5>About</h5>
   <ul class="list-unstyled text-small">
    <li>Team</li>
       <p class="text-secondary">We are three member in our team LAKSHYA KUMAR as a server side programmer, KARUN YADAV as
           a designer of this web application and ASHWANI KUMAR as a backend programmer.</p>
    <li>Locations</li>
       <p class="text-secondary">Galgotia's University, Greater Noida.</p>
    <li>Privacy</li>
        <p class="text-secondary">We understand this is a big responsibility and work hard to protect your information and put you in control.</p>
    <li>Terms</li>
       <p class="text-secondary">Thanks for using our service. The Services are provided by ONLINE REPAIRING ENVIRONMENT. You are agreeing to these terms. Please read them carefully.<a href="{% url 'tservice' %}"> Read more</a></p>
  </ul>

</div>
</div>
<p class="text-white text-center bg-dark">  © 2019-2020  Online Repairing Environment.</p>
</footer>
<!-- Last section end -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

 </body>
 </html>